@font-face {
  font-family: 'Karrik';
  src: url('../public/fonts/Karrik-Regular.woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'Karrik';
  src: url('../public/fonts/Karrik-Italic.woff2');
  font-weight: 400;
  font-style: italic;
}
